/*ОБЩИЕ СТИЛИ*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/*ГЛАВНОЕ МЕНЮ (НАВИГАЦИЯ)*/

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 1200px;
}

.site-navigation li {
    width: 239px;
    padding: 15px 0;
    text-align: center;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 529px;
}

.bg-photo {
    width: 1200px;
    height: 584px;
    background-image:
    url(../img/welcome.svg),
    url(../img/polygon.svg),
    url(../img/background-photo.jpg);
    background-position: 50% 50%, 50% 100%, 50% 50%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 459px 353px, 1200px 57px, 1200px 584px;
}

/*ВСТУПИТЕЛЬНЫЙ ЛОЗУНГ ПОСЛЕ МЕНЮ И КАРТИНКИ*/

.text-intro {
    width: 1200px;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 43px;
}

.intro-primary,
.intro-secondary {
    margin: 0;
}

.intro-primary {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 38px;
}

.intro-secondary {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

/*БЛОК ПРЕИМУЩЕСТВ*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1200px;
}

.advantages-list-item {
    width: 400px;
    min-height: 256px;
    text-align: center;
}

.advantages-list-item:first-child,
.advantages-list-item:nth-child(2) {
    flex-basis: 100%;
}

.advantages-list-item:last-child {
    order: 2;
}

.advantages-list-item:nth-child(1) {
    order: 1;
    background-image: url(../img/layer-10.jpg);
    background-position: center right;
    background-repeat: no-repeat;
}

.advantages-list-item:nth-child(2) {
    order: 3;
    background-image: url(../img/layer-5.jpg);
    background-position: center left;
    background-repeat: no-repeat;
}

.advantages-list-item:nth-child(3) {
    order: 4;
}

.advantages-list-item:nth-child(4) {
    order: 5;
}

.advantages-list-item:nth-child(5) {
    order: 6;
}

.advantages-list-item img,
.advantages-text-block {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.advantages-text-block {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 0 60px;
    padding-top: 46px;
    padding-bottom: 64px;
    background-color: #eeeeee;
    color: #000;
}

.advantages-text-block p,
.advantages-text-block span {
    color: #333;
}

.advantages-text-block-right {
    float: right;
    background-color: #81b3d2;
    color: #fff;
}

.advantages-text-block-left {
    float: left;
    background-color: #81b3d2;
    color: #fff;
}

.advantages-text-block-left p,
.advantages-text-block-left span,
.advantages-text-block-right p,
.advantages-text-block-right span {
    color: #fff;
}


.advantages-list-item h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.advantages-list-item p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.advantages-list-item span {
    display: block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 21px;
}

/* ПОДРАЗДЕЛ ПРЕИМУЩЕСТВ */

.features-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1200px;
    text-align: center;
}

.features-list-item {
    width: 400px;
    padding: 0 73px;
    padding-top: 156px;
    padding-bottom: 81px;
    text-align: center;
    position: relative;
}

.features-list-item::before {
    position: absolute;
    top: 60px;
    left: 160px;
    content: "";
    width: 76px;
    height: 76px;
}

.features-list-item:first-child::before {
    background-image: url(../img/home.svg);
    background-size: 75px 72px;
    background-position: center;
    background-repeat: no-repeat;
}

.features-list-item:last-child::before {
    background-image: url(../img/souvenirs.svg);
    background-size: 64px 76px;
    background-position: center;
    background-repeat: no-repeat;
}

.features-list-item:nth-child(2)::before {
    background-image: url(../img/food.svg);
    background-size: 74px 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.features-list-item h3 {
    color: #000;
    margin-bottom: 30px;
}

/* БЛОК ПОИСКА */

.search-section {
    text-align: center;
    padding-top: 55px;
}

.search-section p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.search-section strong {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000;
}

.button-search {
    font: inherit;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 140px;
    padding-right: 139px;
    background-color: #766357;
    border: 0;
}

/* FOOTER */

.footer-socials {
    display: flex;
    height: 120px;
    flex-basis: 400px;
}

.footer-socials-item {
    flex-basis: 400px;
    text-align: center;
}

.footer-socials b {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000;
    margin-top: 51px;
    margin-bottom: 53px;
}

.social-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 150px;
    justify-content: space-between;
    list-style: none;
}

.footer-socials div {
    padding: 36px 124px;
    margin: 0;
    box-sizing: border-box;
}

.social-list-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-list-item:first-child {
    background-image: url(../img/twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 15px;
}

.social-list-item:nth-child(2) {
    background-image: url(../img/facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 22px;
}

.social-list-item:last-child {
    background-image: url(../img/youtube.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 16px;
}

.developer {
    margin-top: 39px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 26px;
}

.developer sup {
    top: -1.5em;
    margin-right: 5px;
}


