/*ОБЩИЕ СТИЛИ*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    color: #333;
    background-color: #f2f2f2;
} 

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 8px 0 15px -3px rgba(0, 1, 1, 0.1), -8px 0 15px -3px rgba(0, 1, 1, 0.1);
}

/*ГЛАВНОЕ МЕНЮ (НАВИГАЦИЯ)*/

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 1200px;
}

.site-navigation-item {
    width: 239px;
    padding: 15px 0;
    text-align: center;
}

.site-navigation-item.current a {
    color: #766357;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 529px;
}

.bg-photo {
    width: 1200px;
    height: 584px;
    background-image:
    url(../img/welcome.svg),
    url(../img/polygon.svg),
    url(../img/background-photo.jpg);
    background-position: 50% 50%, 50% 100%, 50% 50%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 459px 353px, 1200px 57px, 1200px 584px;
}

/*ВСТУПИТЕЛЬНЫЙ ЛОЗУНГ ПОСЛЕ МЕНЮ И КАРТИНКИ*/

.text-intro {
    width: 1200px;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 43px;
}

.intro-primary,
.intro-secondary {
    margin: 0;
}

.intro-primary {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 38px;
}

.intro-secondary {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

/*БЛОК ПРЕИМУЩЕСТВ*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1200px;
}

.advantages-list-item {
    width: 400px;
    min-height: 256px;
    text-align: center;
}

.advantages-list-item:first-child,
.advantages-list-item:nth-child(2) {
    flex-basis: 100%;
}

.advantages-list-item:last-child {
    order: 2;
}

.advantages-list-item:nth-child(1) {
    order: 1;
    background-image: url(../img/layer-10.jpg);
    background-position: center right;
    background-repeat: no-repeat;
}

.advantages-list-item:nth-child(2) {
    order: 3;
    background-image: url(../img/layer-5.jpg);
    background-position: center left;
    background-repeat: no-repeat;
}

.advantages-list-item:nth-child(3) {
    order: 4;
}

.advantages-list-item:nth-child(4) {
    order: 5;
}

.advantages-list-item:nth-child(5) {
    order: 6;
}

.advantages-list-item img,
.advantages-text-block {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.advantages-text-block {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 0 60px;
    padding-top: 46px;
    padding-bottom: 64px;
    background-color: #eee;
    color: #000;
}

.advantages-text-block p,
.advantages-text-block span {
    color: #333;
}

.advantages-text-block-right {
    display: block;
    margin-left: auto;
    background-color: #81b3d2;
    color: #fff;
}

.advantages-text-block-left {
    display: block;
    margin-right: auto;
    background-color: #81b3d2;
    color: #fff;
}

.advantages-text-block-left p,
.advantages-text-block-left span,
.advantages-text-block-right p,
.advantages-text-block-right span {
    color: #fff;
}


.advantages-list-item h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.advantages-list-item p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.advantages-list-item span {
    display: block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 21px;
}

/* ПОДРАЗДЕЛ ПРЕИМУЩЕСТВ */

.features-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1200px;
    text-align: center;
}

.features-list-item {
    width: 400px;
    padding: 0 73px;
    padding-top: 156px;
    padding-bottom: 81px;
    text-align: center;
    position: relative;
}

.features-list-item::before {
    position: absolute;
    top: 60px;
    left: 160px;
    content: "";
    width: 76px;
    height: 76px;
}

.features-list-item:first-child::before {
    background-image: url(../img/home.svg);
    background-size: 75px 72px;
    background-position: center;
    background-repeat: no-repeat;
}

.features-list-item:last-child::before {
    background-image: url(../img/souvenirs.svg);
    background-size: 64px 76px;
    background-position: center;
    background-repeat: no-repeat;
}

.features-list-item:nth-child(2)::before {
    background-image: url(../img/food.svg);
    background-size: 74px 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.features-list-item h3 {
    color: #000;
    margin-bottom: 30px;
}

/* БЛОК ПОИСКА */

.search-section {
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.search-section p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 45px;
}

.search-section strong {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000;
}

.button-search {
    font: inherit;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 140px;
    padding-right: 139px;
    background-color: #766357;
    border: 0;
    height: 86px;
    box-sizing: border-box;
}

.button-search:hover,
.button-search:focus {
    background-color: #604e43;
}

.button-search:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

/* FOOTER */

.footer-socials {
    display: flex;
    height: 120px;
    flex-basis: 400px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-socials-item {
    width: 400px;
    text-align: center;
}

.social-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 150px;
    justify-content: space-between;
    list-style: none;
}

.footer-socials div {
    padding: 36px 124px;
    margin: 0;
    box-sizing: border-box;
}

.footer-socials .visit-sedona {
    font-size: 21px;
    height: 21px;
    margin: 0 auto;
    margin-top: 51px;
    padding: 0;
    line-height: 21px;
    font-weight: bold;
    color: #000;
}

.social-list-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-list-item:hover,
.social-list-item:focus {
    background-color: #669ec0;
}

.social-list-item:active {
    background-color: #5496bd;
}

.social-list-item:first-child {
    background-image: url(../img/twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 15px;
}

.social-list-item:first-child:active {
    background-image: url(../img/twitter1.svg);
}

.social-list-item:nth-child(2) {
    background-image: url(../img/facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 22px;
}

.social-list-item:nth-child(2):active {
    background-image: url(../img/facebook1.svg);
}

.social-list-item:last-child {
    background-image: url(../img/youtube.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 16px;
}

.social-list-item:last-child:active {
    background-image: url(../img/youtube1.svg);
}

.developer {
    margin-top: 39px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 26px;
}

.developer:hover path,
.developer:focus path {
    fill: #81b3d2;
}

.developer:active path {
    fill: #bdbbbc;
}

.developer sup {
    top: -1.5em;
    margin-right: 5px;
}

/* КАТАЛОГ */

.main-catalog {
    min-height: calc(100vh - 175px);
}

.catalog-list {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    width: 100%;
    display: flex;
    padding: 30px 74px;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.catalog-item:hover h3{
    color: #81b3d2;
}

.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item img {
    margin-right: 30px;
}

.catalog-item h3 {
    margin: 0;
    line-height: 21px;
    font-size: 21px;
    margin-bottom: 11px;
    flex-basis: 100%;
    font-weight: bold;
}

.catalog-item-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    height: 90px;
}

.catalog-item-description span {
    display: block;
    line-height: 14px;
    font-size: 14px;
    color: #333;
}

.button {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.button-info {
    background-color: #81b3d2;
    width: 110px;
    height: 27px;
}

.button-info:hover,
.button-info:focus {
    background-color: #669ec0;
}

.button-info:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-book {
    background-color: #766357;
    width: 142px;
    height: 27px;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rate {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
}

.star-rating {
    font-size: 23px;
    color: #81b3d2;
    text-align: right;
    width: 110px;
    height: 27px;
}

.rating {
    line-height: 26px;
    color: #666;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    text-align: center;
}

/* ФОРМА КАТАЛОГА */

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.filters-form {
    display: flex;
    justify-content: space-evenly;
    height: 217px;
    width: 100%;
    background-image: url(../img/catalog-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 72px;
    padding-right: 72px;
    box-sizing: border-box;
}

.filters-form legend {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filters-form label {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-left: 14px;
}

.input-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.input-list li {
    position: relative;
    margin-bottom: 23px;
    padding-left: 27px;
}

.input-list input[type="checkbox"] + label::before {
    position: absolute;
    content: "";
    left: -2px;
    top: -1px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-list input[type="checkbox"]:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
    left: 0;
}

.input-list input[type="checkbox"]:disabled + label::before {
    opacity: 0.4;
}

.type-of-housing,
.infrastructure {
    flex-basis: 25%;
    flex-shrink: 0;
}

.prices {
    flex-basis: 50%;
    padding-left: 210px;
}

/* ФИЛЬТР КАТАЛОГА */

.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
  height: 36px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  height: 30px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  vertical-align: top;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(88, 88, 88, 0.651);
  cursor: pointer;
}

.range-toggle::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: #ababab;
}

.range-toggle:hover {
  width: 22px;
  height: 22px;
}

.range-toggle:hover::before {
    top: 9px;
    left: 9px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filters-form .max-price,
.filters-form .min-price {
    margin: 0;
}

.filters-form .prices-heading {
    margin-bottom: 9px;
}

/* БЛОК СОРИТРОВКИ */

.sorting {
    display: flex;
    width: 100%;
    height: 85px;
    padding: 25px 72px;
    padding-top: 30px;
    box-sizing: border-box;
    vertical-align: bottom;
    word-spacing: -.36em;
}

.arrows {
    margin-left: auto;
}

.sorting b,
.sorting span,
.sorting a {
    word-spacing: normal;
}

.sorting span,
.sorting span {
    margin-left: -2px;
}


.sorting b {
    margin-right: 49px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000;
    vertical-align: bottom;
}

.sorting span {
    margin-right: 40px;
    font-size: 12px;
    line-height: 18px;
}

.sorting a {
    margin-right: 33px;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: dotted 1px #81b3d2;
}

.sorting a:hover {
    color: #81b3d2;
}

.sorting a:active {
    color: #000;
    border: 0;
}

.sorting a.current {
    color: #81b3d2;
    border: 0;
}

.sorting .sort-by-rating {
    margin-right: 0;
}

.sorting .sort-from-top,
.sorting .sort-from-bottom {
    margin: 0;
    font-size: 15px;
    border: 0;
    color: #cacaca;
}

.sorting .sort-from-top:hover,
.sorting .sort-from-top:focus,
.sorting .sort-from-bottom:hover,
.sorting .sort-from-bottom:focus {
    color: #000;
}

.sorting .sort-from-top:active,
.sorting .sort-from-bottom:active {
    color: #81b3d2;
}

.sorting .sort-from-top.current,
.sorting .sort-from-bottom.current {
    color: #81b3d2;
}

.sorting .sort-from-bottom {
    margin-left: auto;
    margin-right: 12px;
}

/* ФОРМА ЗАПИСИ */

.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 55px;
    width: 569px;
    height: 395px;
    box-sizing: border-box;
    position: absolute;
    top: 291px;
    left: 316px;
    background-color: #fff;
    transform: translate3d(-1px, -395px, 0);
    transition: 1s ease-out all;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    transform: translate3d(-1px, -0px, 0);
}

.modal label {
    font-weight: bold;
    color: #000;
}

.modal p {
    margin-bottom: 29px;
}

.footer-main .date {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
    margin-left: 13px;
    padding: 14px 12px;
    padding-right: 40px;
    box-sizing: border-box;
    font-weight: bold;
    color: #000;
    background-image: url(../img/calendar.svg);
    background-position: 316px center;
    background-repeat: no-repeat;
    background-size: 21px 22px;
    border: 2px solid #f2f2f2;
    vertical-align: top;
}

.footer-main .date:hover {
    background-color: #ebebeb;
    background-image: url(../img/calendar2.svg);
}

.footer-main .date:focus {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    background-image: url(../img/calendar3.svg);
}

.footer-main .small-input {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
    margin: 0;
    margin-left: -4px;
    margin-right: -4px;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
}

.button-amount {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #a9a9a9;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    vertical-align: bottom;
}

.button-amount:hover,
.button-amount:focus {
    color: #000;
}

.button-amount:active {
    color: #81b3d2;
}

.button-find {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    border: 0;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.button-find:hover,
.button-find:focus {
    background-color: #669ec0;
}

.button-find:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.grownups {
    margin-right: 30px;
}

.children {
    margin-left: 50px;
    margin-right: 25px;
}

.button-plus {
    background-position: center;
    background-repeat: no-repeat;
}

.button-minus {
    background-position: center;
    background-repeat: no-repeat;
}

.footer-map {
    position: relative;
}

.map {
    position: absolute;
    z-index: -1;
    box-shadow: 8px 0 15px -3px rgba(0, 1, 1, 0.1), -8px 0 15px -3px rgba(0, 1, 1, 0.1);
}

.footer-socials-index {
    position: absolute;
    z-index: 0;
    top: 474px;
    box-shadow: 8px 0 15px -3px rgba(0, 1, 1, 0.1), -8px 0 15px -3px rgba(0, 1, 1, 0.1);
}

